
    #camembert {
  
  float: left; 
    /* margin-bottom: 1000px; */
    }
    
  
    path:nth-child(1) {
      fill: #000000;
    }
    path:nth-child(2) {
      fill: #8B0000;
    }
 

    .legend {
      text-anchor: middle; 
      color : white; 
      dominant-baseline: middle;
      font-weight: bold;
      font-style: italic;
      
    }
    