.chart_picto {
    display: none;
  }
/*
  #bouton_graphique{
    background-color: #8B0000; 
    color: white; 
    font-family: Help me; 
    font-size: 20px; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
*/

#bouton_graphique {
  position: absolute;
  transform: translateX(650%);
  color: white;
  font-family: vampliers; 
  font-size: 15px;
  margin-top: -600px;
  margin-left: 600px;
  width: 100px;
  height: 100px;
  border-radius: 30% / 25%;
  background-color: #8B0000;
  border: none;
  outline: none;
  cursor: pointer;
}

#bouton_graphique:before {
  position: absolute;
  border-style: solid;
  border-width: 0 25px 40px 25px;
  border-color: transparent transparent #8B0000 transparent;
  border-radius: 30%;
  transform: rotate(-45deg);
}

#bouton_graphique:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #8B0000;
}

#bouton_graphique:hover {
  background-color: #A52A2A;
}


.chart_picto {
  margin: 0 auto;
}

/* Ajouter une bordure autour du graphique */


/* Ajouter un peu d'espace sous le titre */
.chart_picto text.title {
  margin-bottom: 20px;
}
